[core]
    excludesfile = ~/.gitignore
    quotepath = false
    editor = vim

[user]
    name =  Bayu Aldi Yansyah
    email = bayualdiyansyah@gmail.com

[mergetool]
    keepBackup = true

[alias]
    l       = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    history = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

[apply]
    whitespace = nowarn

[diff]
    color = auto
    rename = copy

[pager]
    color = true

[status]
    color = true

[difftool]
    prompt = false

[advice]
    statusHints = false

[credential]
    helper = cache
